In [2]:
df_final = pd.read_csv(r"C:\Users\pj\Downloads\Hospital_Mortality_Prediction\Data\Process_data\Data_Analysis.csv")

### Splitting our data

In [3]:
x = df_final.drop(columns='outcome')
y = df_final[['outcome']]

### Standardizing our data

In [5]:
from sklearn.preprocessing import StandardScaler

In [6]:
scale= StandardScaler()
scaled= scale.fit_transform(x)
final_x= pd.DataFrame(scaled,columns= x.columns)

In [7]:
final_x.head()

,group,ID,age,gendera,BMI,hypertensive,atrialfibrillation,CHD with no MI,diabetes,deficiencyanemias,...,Blood sodium,Blood calcium,Chloride,Anion gap,Magnesium ion,PH,Bicarbonate,Lactic acid,PCO2,EF
0,-0.653197,-0.886597,-0.153051,-1.051449,8.781267e-01,-1.595362,-0.906632,-0.306376,1.171744,1.396379,...,-0.033742,-1.814098,1.289532,-0.286026,1.980755,-2.545867,-1.112245,-1.533672,-0.503052,0.488583
1,-0.653197,-0.377851,0.070357,0.951068,4.215911e-16,-1.595362,-0.906632,-0.306376,-0.853429,1.396379,...,-0.000272,-0.591830,-0.719329,-0.935527,-0.925400,-2.631567,1.264720,-1.533672,2.950362,0.488583
2,-0.653197,-1.412399,0.666111,0.951068,-4.290589e-01,-1.595362,-0.906632,-0.306376,-0.853429,1.396379,...,0.439627,-0.409649,0.669477,-1.480271,0.147056,-1.894540,0.708507,-1.533672,2.359646,-1.066269
3,-0.653197,-0.695710,-2.312661,0.951068,6.298430e+00,-1.595362,-0.906632,-0.306376,-0.853429,-0.716138,...,-0.093989,1.707012,-1.913344,-0.591321,-0.705227,-0.146241,2.257299,-1.420354,2.677724,0.488583
4,-0.653197,-0.430293,0.070357,0.951068,1.942067e-01,0.626817,-0.906632,-0.306376,-0.853429,1.396379,...,-0.535801,0.406521,0.415209,0.468234,-1.870013,-2.203063,-0.950913,-1.420354,0.405741,0.488583

In [8]:
y.head()

   outcome
0        0
1        0
2        0
3        0
4        0

In [13]:
final_x.to_csv(r'C:\Users\pj\Downloads\Hospital_Mortality_Prediction\Data\Process_data\PreprocessX.csv', index=False)

In [14]:
y.to_csv(r'C:\Users\pj\Downloads\Hospital_Mortality_Prediction\Data\Process_data\Preprocessy.csv', index=False)